*.class
.settings/
.classpath
.project

# Package Files #
*.war
*.ear
/bin
/target

### IntelliJ IDEA ###
.idea
/out/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/