dist: trusty
language: java
jdk:
- oraclejdk8
- openjdk12
install: mvn install -Dgpg.skip=true -DskipTests=true -Dmaven.javadoc.skip=true -B
  -V
script: mvn test
deploy:
  provider: script
  script: "./deploy.sh"
  on:
    jdk: oraclejdk8
branches:
  only:
  - master
cache:
  directories:
  - "$HOME/.m2"
